In [20]:
import os
import pandas as pd

In [26]:
df = pd.read_excel('fix_hotel.xlsx', sheet_name='fix_hotel')
df

,hotel,hotel_link,review_count,hotel_name
0,The Kampung Ubud Villa,https://www.tripadvisor.co.id/Hotel_Review-g29...,100,the_kampung_ubu
1,Puri Padi Hotel,https://www.tripadvisor.co.id/Hotel_Review-g29...,100,puri_padi_hotel
2,Melati Cottages,https://www.tripadvisor.co.id/Hotel_Review-g29...,100,melati_cottages
3,Gunung Merta Bungalows,https://www.tripadvisor.co.id/Hotel_Review-g29...,100,gunung_merta_bu
4,The Peacock Inn,https://www.tripadvisor.co.id/Hotel_Review-g29...,100,the_peacock_inn
...,...,...,...,...
1284,Bali Mandira Beach Resort & Spa,https://www.tripadvisor.co.id/Hotel_Review-g60...,3919,bali_mandira_be
1285,Courtyard Bali Seminyak Resort,https://www.tripadvisor.co.id/Hotel_Review-g46...,4110,courtyard_bali_
1286,W Bali - Seminyak,https://www.tripadvisor.co.id/Hotel_Review-g13...,4803,_w_bali_-_semin
1287,"InterContinental Bali Resort, an IHG Hotel",https://www.tripadvisor.co.id/Hotel_Review-g29...,5105,intercontinenta
1288,Pullman Bali Legian Beach,https://www.tripadvisor.co.id/Hotel_Review-g60...,5345,_pullman_bali_l

In [27]:
count = 0
for ind in df.index:
    filepath = 'Dataset_1/' + df['hotel_name'][ind]+'.csv'
    if not os.path.exists(filepath):
        count += 1
        print(filepath)
        continue
print(count)

0

In [23]:
pd.concat(g for _, g in df.groupby("hotel") if len(g) > 1)

,hotel,hotel_link,review_count,hotel_name
215,Komodo Garden Bungalow,https://www.tripadvisor.co.id/Hotel_Review-g11...,138,_komodo_garden_
216,Komodo Garden Bungalow,https://www.tripadvisor.co.id/Hotel_Review-g11...,138,_komodo_garden_