In [81]:
import pandas as pd
import os
import glob

In [83]:
path = os.getcwd() + '/Dataset_new/'

In [79]:
filename = 'udaya_resort.csv'
hotelname = 'The Udaya Resort & Spa'

In [82]:
df = pd.read_csv(path+filename)
df = df.drop(columns='Unnamed: 0')
df.insert(loc=0, column='hotel', value=hotelname)
df.to_csv('Dataset_new/'+filename)
df

,hotel,review,stars
0,The Udaya Resort & Spa,"Stafnya sangat ramah, pegawainya semuanya mene...",5
1,The Udaya Resort & Spa,"Stafnya ramah, semua yg diminta segera disiapk...",5
2,The Udaya Resort & Spa,"Sangat mengesankan nginap di the udaya resort,...",5
3,The Udaya Resort & Spa,Villa yang sangat luar biasa dari segi pelayan...,5
4,The Udaya Resort & Spa,"Kamar dan pelayanan sangat baik, cocok untuk p...",5
...,...,...,...
268,The Udaya Resort & Spa,Villa pribadi yang menakjubkan dengan kolam re...,5
269,The Udaya Resort & Spa,"Hotel Terbaik di Bali untuk bulan madu Anda, c...",5
270,The Udaya Resort & Spa,Udaya Resort and Spa adalah tempat yang cocok ...,4
271,The Udaya Resort & Spa,Resort yang luar biasa dengan Layanan Premium ...,5
272,The Udaya Resort & Spa,Ini adalah pertama kalinya saya datang ke Ubud...,5

In [84]:
# Combine

hotel_csv = os.path.join(path, '*.csv')
joined_review = glob.glob(hotel_csv)

hotel_df = pd.concat(map(pd.read_csv, joined_review), ignore_index=True)

In [86]:
stemed = pd.read_csv('stemmed_review.csv')